.wrapper {
	max-width: 415px;
	display: block;
	margin: 0 auto;
	background: $mobile;
}
html {
	background: $mobile;
}	

.wrap {
	width: $width;
	padding: $p;
	margin: $m auto;
	border: $b-white;
	&.step {
		display: none;
	}
	.step:first-of-type {
		display: inline-block;
	}
}
