.wrapper {
	max-width: 415px;
	display: block;
	margin: 0 auto;
	background: $mobile;
}
html {
	background: $mobile;
}	

.wrap {
	width: $width;
	padding: $p;
	margin: $m auto;
	border: $b-white;
	&.step {
		display: none;
	}
	
}
.wrap.step.step0 {
	display: block;
}

button.next {
	width: $width;
	display: block;
	margin: 0 auto;
}