$body: 'Open Sans', Arial, sans-serif;
$hed: "Poppins", Georgia;


$lg: #999;
$g: #a1a1a1;
$dg: #333;

$w: #fff;


$c: #F1C40F;
$c2: #2980B9;
$c3: #9B59B6;
$c4: #8E44AD;

$b: 2px solid $lg;
$b-white: 2px solid $w;
$tb: 2px solid tomato;


$p: 3%;
$m: 10px;
$sm: 5px;

$fw-reg: 400;
$fw-bold:  700;

$mobile: #ffd500;

$width: 85%;