* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", Arial, sans-serif; }

img {
  max-width: 100%; }

.wrapper {
  width: 100%; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

.wrapper {
  display: block;
  margin: 0 auto;
  padding: 3%; }

html {
  background: #F1C40F; }

.pop-up {
  display: none; }

.wrap {
  padding: 3%;
  margin: 10px auto;
  display: none; }

.wrap.step1 {
  display: block; }

.option {
  display: none; }

.option:nth-of-type(1) {
  display: block; }

h2 {
  color: #a1a1a1;
  font-size: 60px;
  font-family: "Poppins", Georgia;
  line-height: 1.25; }

h2 span {
  color: #fff; }

h3 {
  color: #fff;
  letter-spacing: 3px;
  margin-bottom: 10px; }

button {
  width: 30%;
  padding: 10px 5px;
  border-radius: 35px;
  background: #F1C40F;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  border: 3px solid #fff;
  margin: 3% 0; }
