* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", Arial, sans-serif; }

img {
  max-width: 100%; }

.wrapper {
  width: 100%; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: "Poppins", Georgia; }

.wrapper {
  width: 100%;
  height: 100vh; }

.wrap {
  display: none;
  margin: 0;
  padding: 3%;
  width: 100%;
  height: 100vh; }

h1 {
  color: #fff;
  font-size: 120px;
  line-height: 103px; }

h1 + h2 {
  color: rgba(255, 255, 255, 0.75);
  font-size: 65px;
  padding-right: 10%; }

h2 {
  margin-bottom: 3%;
  color: #a1a1a1;
  font-size: 32px;
  line-height: 1.25; }

h2 span {
  color: #fff;
  display: none; }

h3 {
  margin: 0 0 10px 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  opacity: .65; }

.option {
  height: 100vh;
  display: none; }

.step0 {
  display: inline-block;
  background: #8E44AD;
  width: 100%;
  height: 100vh; }

.step1 {
  background: #F1C40F; }

.step2 {
  background: #2980B9; }

.step3 {
  background: #9B59B6; }

.pop-up {
  display: none; }

.img-wrap {
  overflow: hidden;
  max-height: 400px; }

.img-wrap img {
  display: block;
  margin: 0 auto; }

.half-wrap {
  float: left;
  width: 100%;
  height: 100vh; }

.step0 .forgot {
  background: #8E44AD;
  width: 300px;
  padding: 10px 0; }

.step1 .option button {
  background: #F1C40F; }

.step2 .option button {
  background: #2980B9; }

.step3 .option button {
  background: #9B59B6; }

.bttn-wrap {
  position: absolute;
  right: 3%;
  bottom: 3%; }

.first-screen {
  background: #34495E;
  width: 100%;
  height: 100vh;
  padding: 3%; }

.first-screen button {
  width: 225px;
  display: block;
  margin: 10px 0;
  padding: 20px 0;
  background: #34495E; }

.something-else .bttn-wrap button {
  width: 220px; }

button {
  margin: 10px 0;
  padding: 5px 0;
  width: 165px;
  border: 2px solid #fff;
  border-radius: 35px;
  color: #fff;
  font-weight: 700;
  font-size: 22px; }

button.yes {
  color: rgba(255, 255, 255, 0.4); }

.letter {
  color: white; }
